/***** Colors *****/
$variation : 30%; //How much variation there is between shades

$main-blue : hsla(205, 100%, 56.5%, 1);
$light-blue : lighten($main-blue, $variation);
$dark-blue : darken($main-blue, $variation);

$main-green : hsla(100, 67.5%, 44.7%, 1);
$light-green : lighten($main-green, $variation);
$dark-green : darken($main-green, $variation);

$main-brown : hsla(20, 50%, 40.2%, 1);
$light-brown : lighten($main-brown, $variation);
$dark-brown : darken($main-brown, $variation);

$main-teal : hsla(142, 74.5%, 50.8%, 1);
$light-teal : lighten($main-teal, $variation);
$dark-teal : darken($main-teal, $variation);

$main-gold : hsla(51, 72%, 42%, 1);
$light-gold : lighten($main-gold, $variation);
$dark-gold : darken($main-gold, $variation);


//Specific colors related to an action
$selected-color : lighten($main-gold, 15%);

//Classes to achieve certain colors
.blue{
    color:$main-blue;
    &.dark{
        color:$dark-blue;
    }
    &.light{
        color:$light-blue;
    }
}
.green{
    color:$main-green;
    &.dark{
        color:$dark-green;
    }
    &.light{
        color:$light-green;
    }
}
.teal{
    color:$main-teal;
    &.dark{
        color:$dark-teal;
    }
    &.light{
        color:$light-teal;
    }
}
.brown{
    color:$main-brown;
    &.dark{
        color:$dark-brown;
    }
    &.light{
        color:$light-brown;
    }
}
.gold{
    color:$main-gold;
    &.dark{
        color:$dark-gold;
    }
    &.light{
        color:$light-gold;
    }
}