@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-align($value){
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
    -webkit-align: $value;
    align-items: $value;
}

@mixin flex($values...) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val...) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin box-shadow($values...) {
    -moz-box-shadow: $values;
    -webkit-box-shadow: $values;
    box-shadow: $values;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

//Media queries
$phone-landscape-width: 480px;
$tablet-landscape-width: 960px;
$desktop-small-width: 1024px;
$desktop-large-width: 1366px;

@mixin phone-landscape {
  @media (min-width: #{$phone-landscape-width}){
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: #{$tablet-landscape-width}){
    @content;
  }
}

@mixin desktop-small {
  @media (min-width: #{$desktop-small-width}){
    @content;
  }
}

@mixin desktop-large {
  @media (min-width: #{$desktop-large-width}){
    @content;
  }
}
