/***** Sidebar *****/
.sidebar {
    position: relative;
    z-index: 2;
    @include tablet-landscape{
        z-index: initial;
    }
    .category-wrapper{
        position: fixed;
        top:56px;
        bottom: 0;
        left:0;
        right:0;
        overflow: auto;
        background-color: hsla(0, 0, 0, 0.3);
        @include tablet-landscape{
            background: initial;
            display: block !important;
            position: static;
            overflow: initial;
        }
    }

    .title-banner{
        display: none;
        @include tablet-landscape{
            display: block;
        }
    }
    .title-banner-content{
        @include tablet-landscape{
            .category:first-of-type>div{
                @include box-shadow(0 7px 4px -6px black inset);
            }
        }
    }

    label{
        cursor:pointer;
        input, &+input {
            display: none;
        }
    }

    #menu-toggle{
        position:fixed;
        top:0;
        right:0;
        height:56px;
        width:56px;
        &+input+.category-wrapper {
            display: none;
        }
        &+input:checked + .category-wrapper {
            display: block;
        }
        @include tablet-landscape{
            display: none;
        }
    }
    .categories{
        $category-color: color("green", -$variation);
        position: relative;
        @include box-shadow(0 4px 8px -1px black);
        @include tablet-landscape{
            display: block;
            position: static;
        }
        label{
            position: relative;
            min-height: 56px;
            width:100%;
            text-align: center;

            &:not(:last-of-type) div{
                border-bottom: 1px dashed color("gold");
            }
            div{
                position: relative;
                padding: 3px;
                
                width: 100%;
                height: 56px;
                display: table;
                @include transition(all .1s ease-out);
                background:color("green", -$variation);
                background: -webkit-linear-gradient(top, color("green", -$variation) 0%, lighten(color("green", -$variation), 4%) 30%, color("green", -$variation) 85%, lighten(color("green", -$variation), 2%) 100%);
                background: linear-gradient(to bottom, color("green", -$variation) 0%, lighten(color("green", -$variation), 4%) 30%, color("green", -$variation) 85%, lighten(color("green", -$variation), 2%) 100%);
                &:active{
                    background:color("green", -$variation);
                    background: -webkit-linear-gradient(top, lighten(color("green", -$variation), 6%) 0%, darken(color("green", -$variation),2%) 30%, lighten(color("green", -$variation), 2%) 70%, color("green", -$variation) 100%);
                    background: linear-gradient(to bottom, lighten(color("green", -$variation), 6%) 0%, darken(color("green", -$variation),2%) 30%, lighten(color("green", -$variation), 2%) 70%, color("green", -$variation) 100%);
                }
                &:hover{
                    font-size: 1.2em;
                    letter-spacing: 1px;
                }
                span{
                    color: color("gold",$variation);
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }

        .links {
            text-align: left;
            padding:0;
            margin: 0;
            list-style: none;
            width: 100%;
            background: color("gold",$variation);
            &:first-child{                
                @include box-shadow(0 7px 4px -6px black inset, 0 -6px 4px -6px black inset);
                @include tablet-landscape{
                    @include box-shadow(none);
                }
                a{
                    margin: 4px 0;
                    @include tablet-landscape{ 
                        margin: 0;
                    }
                }
            }
            a {
                display: inline-block;
                position: relative;
                &.current {
                    li{                    
                        border-top: 2px dotted color("gold");
                        border-bottom: 2px dotted color("gold");
                        background: $selected-color;
                        &:hover{
                            background: darken($selected-color, $amount: 7%);
                        }
                    }
                    @include tablet-landscape{
                        //Make a pointer
                        &:before{
                            bottom:50%;
                            border-top: 0 solid transparent;
                        }
                        &:after{
                            top:50%;
                            border-bottom: 0 solid transparent;
                        }
                        &:after, &:before{
                            content:'';
                            position: absolute;
                            left:-30px;
                            width:0;
                            height:0;
                            z-index: 1;
                            border-right: 30px solid $selected-color;
                            @include transition(all 0.2s cubic-bezier(.8, 0.82, 0.17, 1));
                        }
                        &:hover{
                            &:after, &:before{
                                border-right-color: darken($color: $selected-color, $amount: 7%);
                            }
                        }
                    }
                }
                li {
                    position: relative;
                    padding: 7px 5px;
                    max-height: 100%;
                    &:hover{
                        @include transition(background .1s ease-out !important);
                        background: darken(color("gold",$variation), $amount: 7%);
                    }                
                }
                @include tablet-landscape{
                    display: block;
                    &:first-child li{
                        border-top: none;
                        &:after{
                            content: "";
                            position: absolute;
                            top:0;
                            left:-5px;
                            width: 105%;
                            height: 100%;
                            @include box-shadow(0 7px 4px -6px black inset);
                        }
                    }
                    &:last-child li{
                        border-bottom: none;
                        @include box-shadow(0 -6px 4px -6px black inset);
                    }
                }
            }

        }
        input + .links{
            a {
                display: block;
                &.current li{                                    
                    border-top-width: 0;
                    border-bottom-width: 0;
                }
                li{
                    @include transition(all 0.25s cubic-bezier(.08,.82,.17,1));
                    max-height: 0;                    
                    padding: 0 5px;
                    overflow: hidden;
                    border-top-width: 0;
                    border-bottom-width: 0;
                }
                &:first-child li{
                    border-top: none !important;
                    &:after{
                        content: "";
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        @include box-shadow(0 7px 4px -6px black inset);
                    }
                }
                &:last-child li{
                    border-bottom: none !important;
                    @include box-shadow(0 -6px 4px -6px black inset);
                }
            }
        }
        input:checked + .links {
            overflow:visible;
            a{
                &.current li{
                    border-top: 2px dotted color("gold");
                    border-bottom: 2px dotted color("gold"); 
                }
                li{
                    @include transition(all 1s cubic-bezier(.6,.66,.4,1.99));
                    max-height:150px;                    
                    padding: 7px 5px;
                }

            }
            @include tablet-landscape{
                .current{
                    &:before, &:after{
                        @include transition(all 1s cubic-bezier(0.15, 0.66, 0.4, 1.29));
                    }                
                    &:before{
                        border-top-width: 1em;
                    }
                    &:after{
                        border-bottom-width: 1em;
                    }
                }
            }
        }
    }
}