

/***** Body *****/
body{
    margin: 0 auto;
    background: $main-brown;
    font-size: 100%;
    font-family: sans-serif;
}

#wrapper {
    position: relative;
    top: $menubar-height; /* Offset for menubar at top*/
    width: 100%;
    overflow: hidden;
    
    @include tablet-landscape{
        top:0;
    }
}



/* Remove top menubar to the side */
/* Move to-top icon to lower right corner */    
/* Make article take up 2/3, and sidebar 1/3 */
@media only screen and (min-width: 700px){


    .sidebar{
  
        .categories{
            display: block;
            position: static;
            .links{
                &:first-child{
                    @include box-shadow(none);
                    a{
                        margin: 0;
                    }
                }
                a{
                    display: block;
                    &:first-child li{
                        border-top: none;
                        &:after{
                            content: "";
                            position: absolute;
                            top:0;
                            left:-5px;
                            width: 105%;
                            height: 100%;
                            @include box-shadow(0 7px 4px -6px black inset);
                        }
                    }
                    &:last-child li{
                        border-bottom: none;
                        @include box-shadow(0 -6px 4px -6px black inset);
                    }
                }
            }
            .current{
                position: relative;
                &:before{
                    bottom:50%;
                    border-top: 1em solid transparent;
                }
                &:after{
                    top:50%;
                    border-bottom: 1em solid transparent;
                }
                &:after, &:before{
                    content:'';
                    position: absolute;
                    left:-30px;
                    width:0;
                    height:0;
                    z-index: 1;
                    border-right: 30px solid $selected-color;
                }
                &:hover{
                    &:after, &:before{
                        border-right-color: darken($color: $selected-color, $amount: 7%);
                    }
                }
            }
            input + .links .current{
                &:before, &:after{
                    @include transition(all 0.2s cubic-bezier(.8, 0.82, 0.17, 1));
                }
                &:before{
                    border-top-width: 0;
                }
                &:after{
                    border-bottom-width: 0;
                }
                
            }
            input:checked + .links .current{
                &:before, &:after{
                    @include transition(all 1s cubic-bezier(0.15, 0.66, 0.4, 1.29));
                }
                
                &:before{
                    border-top-width: 1em;
                }
                &:after{
                    border-bottom-width: 1em;
                }
            }
        }
    }
}

