a[href="#todo"]{
    color:red;
}

h1.title-banner{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: initial;
}
.title-banner{
    font-family: Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif;
    font-size: 1.5em;
    color: color("gold",$variation);
    text-align: center;
    letter-spacing: 2px;
}